<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12">

        <!--	Search Section		-->
		<form class="form-inline">
			<div class="form-group">
                <input class="form-control" placeholder="Type in a keyword e.g. skill, company name" name="search">
            </div>
            <div class="form-group">
                <select class="form-control" name="specialization" required="true">
                    <option value=""> Select a specialization </option>
                    <option> Accounting / Audit / Tax</option>
					<option> Administration &amp; Office Support</option>
					<option> Agriculture/Farming</option>
					<option> Banking / Finance / Insurance</option>
					<option> Building Design/Architecture</option>
					<option> Construction</option>
					<option> Consulting/Business Strategy &amp; Planning</option>
					<option> Creatives(Arts, Design, Fashion)</option>
					<option> Customer Service</option>
					<option> Education/Teaching/Training</option>
					<option> Engineering</option>
					<option> Executive / Top Management</option>
					<option> Healthcare / Pharmaceutical </option>
					<option> Hospitality / Leisure / Travels</option>
					<option> Human Resources</option>
					<option> Information Technology</option>
					<option> Legal</option>
					<option> Logistics / Transportation</option>
					<option> Manufacturing / Production</option>
					<option> Marketing / Advertising / Communications</option>
					<option> NGO/Community Services &amp; Dev</option>
					<option> Oil&amp;Gas / Mining / Energy</option>
					<option> Project / Programme Management </option>
					<option> QA&amp;QC / HSE</option>
					<option> Real Estate / Property</option>
					<option> Research</option>
					<option> Sales/Business Development</option>
					<option> Supply Chain / Procurement</option>
					<option> Telecommunications</option>
					<option> Vocational Trade and Services</option>
                </select>
            </div>
            <div class="form-group">
                <select class="form-control" name="level">
                    <option value="">Select A Job Level</option>
                    <option>Vocational/Semi-Skilled/Unskilled Labour</option>
					<option>Undergraduate Internship/Vacation Job</option>
					<option>Fresh Graduate/Entry Level/Graduate Internship</option>
					<option>Experienced (Non-Manager)</option>
					<option>Manager (Staff Supervisor/Head of Department)</option>
					<option>Executive (Director/CEO/CFO/COO)</option>
                </select>
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Search</button>
            </div>
        </form>
		
		</div>
	</div>
</div>
