<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Email Address</label>
							<input class="form-control" name="email">
						</div>
					</div>
					<div class="row">
                        <div class="col-md-12">
                            <label>Password</label>
							<input type="password" class="form-control" name="password">
						</div>
					</div>
					<div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button class="btn btn-primary">Sign In</button>
								<p>Don't have an aacount? Sign Up <a href="@Url.RouteUrl("User Registration")">Here</a></p>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>